:root {
    --background-color-primary: #242424;
    --background-color-secondary: #888888;
    --accent-color: #ff0000;
    --text-color: #f7f8f7;
    --medium: #d4d4d4;
    // --element-size: 4rem;
}

:root.light-theme {
    --background-color-primary: #f7f8f7;
    --background-color-secondary: #c4c4c4;
    --accent-color: #2ff924;
    --text-color: #262222;
    --medium: #c4c4c4;
}