.info-content {
    display: flex;
    flex-direction: column;
    padding: 1.5em;

    header {
      width: 100%;
      display: flex;
      flex-direction: row;

      #search-button {
        border: 1px solid var(--background-color-secondary);
        background: transparent;
        border-radius: 5px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: outline .3s;
        margin-top: 1em;
        
        &:focus {
          outline: 1.5px solid var(--accent-color);
        }

        & svg {
          display: inline-block;
          height: 20px;
          width: 13px;
          fill: var(--accent-color);
        }
      }

      #char-info-title {
        color: var(--text-color);
        font-size: 2.5em;
        margin: 0 2em;
      }
    }
  }

  .char-content {
    min-height: 90vh;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--text-color);

    .card {
      display: flex;
      flex-direction: row;
      margin: 24px 0 ;

      img{
        width: 100px;
        margin-right: 48px;
      }
        
      .infos {
        line-height: 1.5;

        #char-name {
          font-family: 'Righteous', coursive;
          font-size: 20px;
        }
        p {
          letter-spacing: .8px;
        }
      }
    }
    
    .movies {
      list-style: none;
      line-height: 1.8;
    }
  }
