html, body {
    padding: 0;
    margin: 0;
  }

:root {
  --background-color-primary: #242424;
  --background-color-secondary: #888888;
  --accent-color: #ff0000;
  --text-color: #f7f8f7;
  --medium: #d4d4d4;
  --element-size: 4rem;
}

:root.light-theme {
  --background-color-primary: #f7f8f7;
  --background-color-secondary: #c4c4c4;
  --accent-color: #2ff924;
  --text-color: #262222;
  --medium: #c4c4c4;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  /* for width, use the standard element-size */
  width: var(--element-size); 

  /* for other dimensions, calculate values based on it */
  border-radius: var(--element-size);
  border: calc(var(--element-size) * 0.025) solid var(--accent-color);
  padding: calc(var(--element-size) * 0.1);
  font-size: calc(var(--element-size) * 0.3);
  height: calc(var(--element-size) * 0.35);

  align-items: center;
  background: var(--text-primary-color);
  cursor: pointer;
  display: flex;
  position: relative;
  transition: background 0.5s ease;
  justify-content: space-between;
  z-index: 1;
}

.switch-toggle {
  position: absolute;
  background-color: var(--background-color-primary);
  border-radius: 50%;
  top: calc(var(--element-size) * 0.07);
  left: calc(var(--element-size) * 0.07);
  height: calc(var(--element-size) * 0.4);
  width: calc(var(--element-size) * 0.4);
  transform: translateX(0);
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.switch-toggle-checked {
  transform: translateX(calc(var(--element-size) * 0.6)) !important;
}

  // p {
  //   color: var(--text-primary-color);
  // }
  
  // .container-center {
  //   background-color: var(--background-color-primary);
  //   height: 100vh;
  //   width: 100vw;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  
  // .card {
  //   padding: 2rem 4rem;
  //   height: 200px;
  //   width: 300px;
  //   text-align: center;
  //   border: 1px solid var(--accent-color);
  //   border-radius: 4px;
  //   background-color: var(--background-color-secondary);
  // }